body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
h1 {
	padding: 30px;
	text-align: right;
	font-size: 30px;
}
img {
	position: absolute;
	left: 0;
	top: 0;
}
body {
	font: arial, sans-serif;
}
.nav {
	width: 100%;
	background: #005192;
	height: 70px;
}
ul {
	margin: 0;
	padding: 0;
	float: left;
	list-style-type: none;
}
ul li {
	float: left;
}
ul li a {
	text-decoration: none;
	display: inline-block;
	padding: 15px 20px;
	font-size: 20px;
	line-height: 40px;
	color: white;
	border-radius: 10px;
	padding: 15px 60px 15px 60px;
	text-align: center;
}
ul li a:hover {
	background-color: #006871;
}
.login {
	width: 400px;
	margin: 0 auto;
	background: #006871;
	padding: 10px;
	color: white;
	border-radius: 20px;
	margin-top: 50px;
}
h2 {
	text-align: center;
	font-size: 30px;
}
.avatar {
	width: 100px;
	text-align: center;
	margin: 0 auto;
}
.box {
	width: 350px;
	margin: 0 auto;
	font-size: 16px;
	font-weight: bold;
}
.value {
	width: 330px;
	margin: 0 auto;
	padding: 5px;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.login_btn {
	background-color: #005192;
	padding: 5px;
	color: white;
	font-size: 16px;
	width: 100%;
	font-weight: bold;
	border-radius: 10px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;
}
.register_btn {
	background-color: #005192;
	padding: 5px;
	color: white;
	font-size: 16px;
	width: 100%;
	font-weight: bold;
	border-radius: 10px;
	text-align: center;
	margin-top: 20px;
}
.back_btn {
	background-color: dimgrey;
	padding: 5px;
	color: white;
	font-size: 14px;
	width: 30%;
	border-radius: 10px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
